html, body {
	padding: 0;
	margin: 0;
}

body {
	display: grid;
	grid-template-columns: auto minmax(0, 1fr);
}

body > div {
	padding: 3em;
}

section {
	display: none;
}

#homeSection {
	display: block;
}
